@model SearchViewModel

@{
    ViewData["Title"] = " | Manage Products";
}

<div class="container">
    <div class="page-title">
        <h3>Manage Products</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">Product List</div>
                <div class="card-body">
                    <p class="card-title"><a class="btn btn-sm btn-outline-primary" asp-action="Add" asp-area="Admin"><i class="fas fa-plus-circle"></i>Add a product</a></p>
                </div>
             </div>
         </div>
     </div>
</div>
                    

<h1 class="mb-2">Manage Products</h1>
<ul class="list-group">
    <li class="list-group-item">
        <h5 class="mt-1"><a class="btn btn-info" asp-action="Add" class="btn btn-info">Add a product</a></h5>
    </li>
    <li class="list-group-item">
        <form asp-action="Search" method="post" class="form-inline">
            <h5 class="mt-1 mr-5">Find a product</h5>
            <label>Search Term:</label>
            <input type="text" asp-for="SearchTerm" class="form-control ml-2 mr-2">
            Search By:
            <label class="radio-inline">
                <input type="radio" class="form-control ml-2 mr-2"
                       asp-for="Type" value="product" checked>Title
            </label>
            <label class="radio-inline">
                <input type="radio" class="form-control ml-2 mr-2"
                       asp-for="Type" value="brand">Brand
            </label>
            <label class="radio-inline">
                <input type="radio" class="form-control ml-2 mr-2"
                       asp-for="Type" value="category">Category
            </label>
            <button type="submit" class="btn btn-primary ml-2 mr-2">Find</button>
            <span asp-validation-for="SearchTerm" class="text-danger"></span>
        </form>
    </li>
</ul>