@model SearchViewModel

@{
    ViewData["Title"] = " | Manage Products";
}

<div class="container">
    <div class="page-title">
        <h3>Manage Products</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">Product List</div>
                <div class="card-body">
                    <div class="mb-3 row g-2">
                        <div class="col-md-2"><a class="btn btn-sm btn-outline-primary" asp-action="Add" asp-area="Admin"><i class="fas fa-plus-circle"></i> Add a product</a></div>
                    </div>
                    <div class="line"></div>
                    <h5 class="card-title mt-3">
                        Find a product
                    </h5>
                    <form accept-charset="utf-8" method="POST" asp-action="Search" class="form-inline">
                        <div class="row g-2 mt-3">
                            <div class="col-md-4">
                                <label for="name" class="form-label">
                                    Search Term:
                                </label>
                                <label class="radio-inline">
                                <input asp-for="SearchTerm" type="text" class="form-control" placeholder="Search Term">
                                </label>
                            </div>
                            <div class="col-md-7">
                                <label for="name" class="form-label">
                                    Search By:
                                </label>
                                <label class="form-check-inline radio-inline">
                                    <input type="radio" class="ml-2 mr-2"
                                           asp-for="Type" value="product" checked>Title
                                </label>
                                <label class="form-check-inline radio-inline">
                                    <input type="radio" class="ml-2 mr-2"
                                           asp-for="Type" value="brand">Seller
                                </label>
                                <label class="form-check-inline radio-inline">
                                    <input type="radio" class="ml-2 mr-2"
                                           asp-for="Type" value="category">Category
                                </label>
                            
                                <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i> Search</button>
                            </div>
                        </div>
                    </form>
                    <p class="card-title"></p>
                   
                </div>
             </div>
         </div>
     </div>
</div>
                   