@model Product

@*<div class="text-center">
    <h1>Our Staff Pick!</h1>
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading list-group-item-success">
            <h5>
                <a asp-controller="Product" 
                   asp-action="Details"                   
                   asp-route-id="@Model.ProductId" 
                   asp-route-slug="@Model.Title.Slug()">
                    @Model.Title
                </a>
            </h5>
        </li>
    </ul>
    @*</div>*@

<div class="slider-area">
    <div class="slider-active owl-carousel nav-style-1">
        <div class="slider-height-7 bg-glaucous d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center slider-h9-mrg">
                    <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content-7 slider-animated-1">
                            <h3 class="animated">New Arrival</h3>
                            <h1 class="animated">New Design <br>Bluetooth Speaker</h1>
                            <div class="slider-btn-9 btn-hover">
                                <a class="animated" asp-action="List" asp-controller="Product" asp-area="">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-singleimg-hm9 slider-animated-1">
                            <img class="animated" src="~/img/slider/single-slide-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-height-7 bg-glaucous d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center slider-h9-mrg">
                    <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-content-7 slider-animated-1">
                            <h3 class="animated">New Arrival</h3>
                            <h1 class="animated">New Design <br>Bluetooth Speaker</h1>
                            <div class="slider-btn-9 btn-hover">
                                <a class="animated" asp-action="List" asp-controller="Product" asp-area="">
                                   Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                        <div class="slider-singleimg-hm9 slider-animated-1 ml-100 mr-100">
                            <img class="animated" src="~/img/slider/single-slide-6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collections-area pb-95">
    <div class="container">
        <div class="collection-wrap-2">
            <div class="collection-active-2 owl-carousel">
                <div class="collection-product-2">
                    <a href="#"><img src="~/img/product/hm9-cagi-1.png" alt=""></a>
                    <div class="collection-content-2 text-center">
                        <span>4 Products</span>
                        <h4><a href="#">Bluetooth Speaker</a></h4>
                    </div>
                </div>
                <div class="collection-product-2">
                    <a href="#"><img src="~/img/product/hm9-cagi-2.png" alt=""></a>
                    <div class="collection-content-2 text-center">
                        <span>8 Products</span>
                        <h4><a href="#">Bluetooth Headphone</a></h4>
                    </div>
                </div>
                <div class="collection-product-2">
                    <a href="#"><img src="~/img/product/hm9-cagi-3.png" alt=""></a>
                    <div class="collection-content-2 text-center">
                        <span>9 Products</span>
                        <h4><a href="#"> Kardon Aura Studio</a></h4>
                    </div>
                </div>
                <div class="collection-product-2">
                    <a href="#"><img src="~/img/product/hm9-cagi-2.png" alt=""></a>
                    <div class="collection-content-2 text-center">
                        <span>4 Products</span>
                        <h4><a href="#">Bluetooth Speaker</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="welcome-area pb-90">
    <div class="container">
        <div class="welcome-content text-center">
            <h5>Who Are We</h5>
            <h1>Welcome To Sheincart</h1>
            <p>At our electronics store, we are a team of tech enthusiasts who are passionate about bringing the latest and greatest gadgets and electronics to our customers. We pride ourselves on providing a one-stop-shop for all your electronic needs, from smartphones and tablets to laptops and gaming consoles. </p>
        </div>
    </div>
</div>
<div class="product-area pb-60 hm9-section-padding">
    <div class="container-fluid">
        <div class="product-tab-list nav pb-55 text-center">
            <a href="#product-1" data-toggle="tab">
                <h4>New Arrivals  </h4>
            </a>
            <a class="active" href="#product-2" data-toggle="tab">
                <h4>Best Sellers </h4>
            </a>
            <a href="#product-3" data-toggle="tab">
                <h4>Sale Items</h4>
            </a>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane" id="product-1">
                <div class="custom-row-4">
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-8.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-8.png" alt="">
                                </a>
                                <span class="glaucous">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                        <span class="old">$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-7.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-7.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 20.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-6.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-6.png" alt="">
                                </a>
                                <span class="glaucous">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 30.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-5.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-5.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 40.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-4.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-4.png" alt="">
                                </a>
                                <span class="glaucous">-20%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 50.00</span>
                                        <span class="old">$ 70.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-3.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-3.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 50.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-2.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-2.png" alt="">
                                </a>
                                <span class="glaucous">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-10.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-10.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 70.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-1.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-1.png" alt="">
                                </a>
                                <span class="glaucous">-30%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 20.00</span>
                                        <span class="old">$ 50.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-9.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-9.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                        <span class="old">$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="product-2">
                <div class="custom-row-4">
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-1.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-1.png" alt="">
                                </a>
                                <span class="glaucous">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                        <span class="old">$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-2.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-2.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 20.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-3.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-3.png" alt="">
                                </a>
                                <span class="glaucous">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 30.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-4.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-4.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 40.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-5.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-5.png" alt="">
                                </a>
                                <span class="glaucous">-20%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 50.00</span>
                                        <span class="old">$ 70.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-6.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-6.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 50.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-7.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-7.png" alt="">
                                </a>
                                <span class="glaucous">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-8.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-8.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 70.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-9.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-9.png" alt="">
                                </a>
                                <span class="glaucous">-30%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 20.00</span>
                                        <span class="old">$ 50.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-10.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-10.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                        <span class="old">$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="product-3">
                <div class="custom-row-4">
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-10.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-10.png" alt="">
                                </a>
                                <span class="glaucous">-10%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                        <span class="old">$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-9.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-9.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 20.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-8.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-8.png" alt="">
                                </a>
                                <span class="glaucous">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 30.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-7.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-7.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 40.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-6.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-6.png" alt="">
                                </a>
                                <span class="glaucous">-20%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 50.00</span>
                                        <span class="old">$ 70.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-5.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-5.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 50.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-4.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-4.png" alt="">
                                </a>
                                <span class="glaucous">New</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-3.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-3.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 70.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-2.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-2.png" alt="">
                                </a>
                                <span class="glaucous">-30%</span>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 20.00</span>
                                        <span class="old">$ 50.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom2-col-5">
                        <div class="product-wrap-2 pro-glaucous-color mb-35 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html">
                                    <img class="default-img" src="~/img/product/hm9-pro-1.png" alt="">
                                    <img class="hover-img" src="~/img/product/hm9-pro-1.png" alt="">
                                </a>
                                <div class="product-action-2">
                                    <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                    <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                    <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                </div>
                            </div>
                            <div class="product-content-2">
                                <div class="title-price-wrap-2">
                                    <h3><a href="product-details.html">T- Shirt And Jeans</a></h3>
                                    <div class="price-2">
                                        <span>$ 60.00</span>
                                        <span class="old">$ 60.00</span>
                                    </div>
                                </div>
                                <div class="pro-wishlist-2">
                                    <a title="Wishlist" href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-banner-2 mb-30">
                    <a href="product-details.html"><img src="~/img/banner/banner-8.png" alt=""></a>
                    <div class="banner-content-2">
                        <h3>HeadPhone</h3>
                        <h4>Starting at <span>$99.00</span></h4>
                        <a href="product-details.html"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-banner-2 mb-30">
                    <a href="product-details.html"><img src="~/img/banner/banner-9.png" alt=""></a>
                    <div class="banner-content-2">
                        <h3>HeadPhone</h3>
                        <h4>Starting at <span>$79.00</span></h4>
                        <a href="product-details.html"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area bg-gray-3 pt-100 pb-95 ml-70 mr-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
                <div class="testimonial-active owl-carousel nav-style-1 nav-testi-style">
                    <div class="single-testimonial text-center">
                        <img src="~/img/testimonial/testi-1.png" alt="">
                        <p>I recently visited this electronics store looking for a new laptop and was blown away by their selection and customer service. The staff was incredibly knowledgeable and helpful, answering all my questions and helping me find the perfect laptop to suit my needs.</p>
                        <div class="client-info">
                            <i class="fa fa-map-signs"></i>
                            <h5>Dhwani Dedhia</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                    <div class="single-testimonial text-center">
                        <img src="~/img/testimonial/testi-1.png" alt="">
                        <p>I have been a loyal customer of this electronics store for several years now and I can honestly say that they are the best in the business. Every time I visit their store, I am greeted with friendly and knowledgeable staff who go above and beyond to ensure that I have a positive shopping experience.</p>
                        <div class="client-info">
                            <i class="fa fa-map-signs"></i>
                            <h5>Prajakta Limje</h5>
                            <span>Customer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area pt-100 pb-95">
    <div class="container">
        <div class="brand-logo-active owl-carousel">
            <div class="single-brand-logo">
                <img src="~/img/brand-logo/barnd-logo-1.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="~/img/brand-logo/barnd-logo-2.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="~/img/brand-logo/barnd-logo-3.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="~/img/brand-logo/barnd-logo-4.png" alt="">
            </div>
            <div class="single-brand-logo">
                <img src="~/img/brand-logo/barnd-logo-5.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="blog-area pb-55">
    <div class="container">
        <div class="section-title-2 text-center mb-60">
            <h2>Our Blog</h2>
            <p>Stay up-to-date with the latest in electronics news, trends, and tips with our blog!</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/img/blog/blog-1.jpg" alt=""></a>
                        <span class="purple">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">The Pros and Cons of<br> Buying Refurbished Electronics.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/img/blog/blog-2.jpg" alt=""></a>
                        <span class="pink">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">How to Choose the <br /> Right Gaming Laptop.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-wrap mb-30 scroll-zoom">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/img/blog/blog-3.jpg" alt=""></a>
                        <span class="purple">Lifestyle</span>
                    </div>
                    <div class="blog-content-wrap">
                        <div class="blog-content text-center">
                            <h3><a href="blog-details.html">The Future of <br />Smart Home Technology.</a></h3>
                            <span>By Shop <a href="#">Admin</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>