@{
    ViewData["Title"] = "Thank you";
}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Thank you </li>
            </ul>
        </div>
    </div>
</div>
<div class="checkout-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <center><div class="your-order-area">
                    
                    <div class="your-order-wrap gray-bg-4">
                        <h2>Thank you</h2>
                        <p>Thank you for placing an order with us.<br /> You will shortly receive an email for the order confirmation.</p>
                    </div>
                    <div class="Place-order mt-25">
                            <a class="col-lg-4 btn-hover btn-sm" asp-action="Index" asp-controller="Home">Back to Home</a>
                    </div>
                </div>
                </center>
            </div>
        </div>
    </div>
</div>